<div class="container">
 
    <div class="login mat-elevation-z8">
 
       <h1>Login Pool Art</h1>

       <div>
          <img src="../../../assets/img/login.svg" alt="Login image">
       </div>

       <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input 
          [(ngModel)]="creds.email"
          [formControl]="email"
          name="mail"
          required
          type="text" 
          matInput 
          placeholder="Ex.. fulano@email.com">
          <mat-icon matSuffix>mail_outline</mat-icon>
       </mat-form-field>
 
       <mat-form-field id="password" appearance="outline">
          <mat-label>Senha</mat-label>
          <input 
          [(ngModel)]="creds.password"
          [formControl]="password"
          name="password"
          required
          maxlength="50"
          type="password" 
          matInput 
          placeholder="Ex.. 123456">
          <mat-icon matSuffix>password</mat-icon>
         </mat-form-field>
 
       <button (click)="login()" id="btn_entrar" class="mat-elevation-z2" mat-flat-button color="primary">Login</button>
       <button routerLink="../signup" mat-stroked-button class="mat-elevation-z2" color="primary">Quero me cadastrar</button>
       <a id="recover-pass" mat-button href="https://www.google.com/" target="_blank">Esqueceu sua senha?</a>

      </div>
      
      <div>
         <span>by Valdir cezar</span>
      </div>
 </div>