<div class="logo">
    <a mat-button href="">
      <img src="assets/img/logo.png" alt="Pool Art logo" />
    </a>
  </div>
<h2 id="dialog-title" color="primary" mat-dialog-title>Como funciona nossa plataforma</h2>
<mat-dialog-content class="mat-typography">
  <h3>Uma maneira mais simples de conectar artistas autônomos a bares, hotéis, restaurantes, etc.</h3>
  <h3>1.º Você realiza o cadastro no sistema através do link 
    <button routerLink="/signup" id="signup" mat-button color="primary">
        Cadastrar-me
      </button>
  </h3>
  <img id="signup-img" src="assets/img/signup-img.png" alt="Signup image">
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Entendi</button>
</mat-dialog-actions>
