<div class="container">
  <!-- <input class="ng-hide" id="input-file-id" multiple type="file" />
  <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->

  <mat-drawer-container class="drawer-container" autosize>
    <button
      class="menu mat-elevation-z8"
      (click)="drawer.toggle()"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-drawer #drawer class="sidenav mat-elevation-z8" mode="side">
      <div class="img-user">
        <img
          src="https://poolart.s3.amazonaws.com/cp1.jpg"
          onerror="this.src='assets/img/avatar.jpeg'"
        />
      </div>

      <button
        (click)="alterImage()"
        class="ng-hide"
        id="alter-image"
        mat-button
      >
        Alterar imagem
      </button>

      <h3>{{ user.email }}</h3>
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="home">
          <i class="material-icons">home</i>
          Início
        </a>
        <a mat-list-item routerLink="find">
          <i class="material-icons">person_search</i>
          Encontrar
        </a>
        <a mat-list-item routerLink="profile">
          <i class="material-icons">account_circle</i>
          Perfil
        </a>
        <a mat-list-item routerLink="dashboard">
          <i class="material-icons">person</i>
          Avaliações
        </a>
        <a (click)="logout()" routerLink="../" mat-list-item>
          <i class="material-icons">logout</i>
          Sair
        </a>
      </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
      <div class="header">
        <img src="../../../assets/img/logo.png" alt="Pool Art logo" />
      </div>

      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>
