.container {
    height: 100%;
}

.drawer-container {
    height: 100vh;
}

.sidenav-content {
    height: 100%;
}

.presentation {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu button {
    font-size: 1.1rem;
    width: 33%;
    text-align: end;
}

.menu .mat-stroked-button {
    border-left: 4px solid;
}

.search mat-form-field {
    margin-top: 1rem;
    width: 100%;
}

.search mat-icon {
    font-weight: bolder;
    margin-right: 2rem;
}

.sidenav {
    width: 13rem;
    color: white;
    background: rgb(0, 153, 255);
}

.sidenav img {
    text-align: center;
    height: 9rem;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 5rem;
}

.sidenav h3 {
    text-align: center;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}

.menu {
    margin: 1rem 0 0 1rem;
    color: white;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(37,97,207,1) 0%, rgba(0,212,255,1) 100%);
} 

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sidenav-content .header img {
    height: 2.4rem;
    margin-top: 1rem;
}

svg {
    position: fixed;
    bottom: 0;
    z-index: 1;
}