<mat-card class="card mat-elevation-z8">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Pool Art</mat-card-title>
    <mat-card-subtitle>Facilitando a comunicação entre artistas informais a bares e restaurantes</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div class="img">
        <img src="../../../assets/img/home-img.svg" alt="Home image">
      </div>
    <mat-card-subtitle>
      <p>A equipe tem como objetivo principal desenvolver um sistema web em que
      artistas, bares, restaurantes etc. possam fazer um cadastro adicionando
      informações do seu perfil para que ambos possam se encontrar com mais
      agilidade.</p> 
      <p>A plataforma deverá possuir um sistema de avaliação tanto para
      o contratante quanto para o profissional, para que ambos possam adicionar
      sua avaliação do trabalho e/ou ambiente e adicionar suas observações. O
      artista poderá preencher um termo para que o contratante aceite antes da
      contratação. Nesse termo o artista poderá colocar suas condições de
      trabalho e precificar suas horas ou jornada fixa.</p> 
      <p>O contratante também poderá adicionar seus termos e condições para que o artista aceite antes
      de aceitar a proposta de emprego. Assim não haverá surpresas de ambos os
      lados na hora da prestação de serviços e pagamentos. A plataforma não irá
      possuir sistema de pagamento. O pagamento irá ocorrer no momento em que o
      prestador do serviço finalizar sua jornada.</p>
      O Valor deverá ser de acordo
      com o valor informado pelo artista ou pelo contratante no site. O
      contratante poderá dar gorjetas ao prestador de serviços sem nenhum
      problema. O artista poderá negociar os valores com o contratante e caso
      ambos concordem ele informará no sistema que o preço foi alterado e irá
      realizar a alteração. Assim ambos contaram com a plataforma como prova de
      negociação em caso de não pagamento ou de não prestação de serviços. Ambos
      deverão realizar um cadastro com as informações solicitadas no site para
      estarem prontos para utilizar os serviços. O serviço a princípio será
      gratuito contando com possibilidade de pequenas taxas posteriormente.
    </mat-card-subtitle>
  </mat-card-content>
  
</mat-card>
