<div class="container">
  <div class="header">
    <img src="assets/img/search-person.svg" alt="search person" />
  </div>

  <div class="search">
    <form class="form">
      <button (click)="findAll()" mat-stroked-button color="primary">
        Buscar
      </button>
      <mat-form-field appearance="outline">
        <mat-label>Encontrar alguém</mat-label>
        <!-- <span matPrefix>+1 &nbsp;</span> -->
        <input
          [(ngModel)]="name"
          name="name"
          type="text"
          matInput
          placeholder="Fulano de tal..."
        />
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
    </form>
  </div>

  <div class="content">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef>Avaliações</th>
          <td mat-cell *matCellDef="let element">
            <ng-rating-bar
              [value]="element.rating"
              [ratingCount]="5"
              [disabled]="true"
            ></ng-rating-bar>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>Saber mais</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary">Sobre</button>
          </td>
        </ng-container>

        <ng-container matColumnDef="evaluate">
          <th mat-header-cell *matHeaderCellDef>Avaliar</th>
          <td mat-cell *matCellDef="let element">
            <button
              routerLink="../rating/{{ element.id }}"
              mat-icon-button
              color="warn"
            >
              <mat-icon>favorite</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="contact">
          <th mat-header-cell *matHeaderCellDef>Contato</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button [matMenuTriggerFor]="menu">Contatar</button>
            <mat-menu #menu="matMenu">
              <div class="contact">
                <img src="assets/img/phone.svg" alt="Contact img" />
              </div>
              <p id="menu-item-phone" mat-menu-item>{{ element.phone }}</p>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
